<h1 class="text-3xl font-bold text-center text-teal-400 p-10">
  Viaggio
</h1>
<div class="flex flex-col lg: w-3/3 justify-center md:flex-row p-6">
  <!--Se irán añadiendo ciudades a la lista-->
  <div >
  <app-form (formOutput)="addNewCity($event)"></app-form></div>
  <div class="font-black text-teal-950 bg-teal-500 p-5 rounded-md shadow-xl">
    <p class="text-center">Tu lista de ciudades</p>
    <div> @if (cities.length === 0) {
      <p class="font-light py-10">¡No hay ciudades en la lista!</p>}
    </div>
    @for (city of cities; track $index) {
    <!--La lista tiene opción de borrar una ciudad-->
    <app-list [listInput]="city" (listOutput)="deleteCity($event)"></app-list>
    }
  </div>
</div>